body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:  #f8efed ; 
    font-family: Arial, sans-serif;
  }
  
  .card {
    background-color: #122121;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
    max-width: 100%;
    height: auto;
    max-height: 400px;
    overflow: auto;
  }
  
  .card p {
    font-size: 20px;
    margin: 0;
    color: #f8efed;
  }
  #student-names p {
    margin: 10px 0;
    color: #fffa50;
  }
  
  